:root {
    box-sizing: border-box;
    --smallerBorder: 0.1rem;
    --smallBorder: .2rem;

    --innerPadding: 10px;
    --extremePadding: 2.0rem;

    --gap: 10px;

    --slightCurve: 10px;
    --extremeCurve: 20px;
    --circleCurve: 50%;

    --sideBarMainColor: #363740;
    /*--sideBarAccentColor: #BCFD4C;*/
    --sideBarAccentColor: lightblue;
    --topRowMainColor: #202020;
    --mainContentMainColor: #7F8487;

    --shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

html,
body,
.layer,
.layer > * {
    height: 100vh;
}

html,
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.layer {
    
    background-color: aquamarine;
}

.layer>div {
    display: grid;
    grid-template-columns: 1fr 6fr;
    background-color: black;
}


.sideBar {
    /*border-right: 2px solid #ea6;*/

    /*background-color: #C5979D;*/
    color: #AAA;
    background-color: var(--sideBarMainColor);
    border-right: var(--smallBorder) solid var(--sideBarAccentColor);
    font-size: 1.8rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 1fr);
    padding: 10px;

}

.sideBar>div>.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: var(--smallBorder) solid black;
    gap: var(--gap);
}

.sideBar>div {
    position: static;
}

.sideBar>div>div:nth-child(2) {
    display: grid;
    align-items: end;

}

.sideBar>div ul {
    align-items: center;
}

.sideBar>div ul li {
    display: flex;
    align-items: center;
    gap: var(--gap);

}

.sideBar>div ul li:hover {
    padding: 2px;
    cursor: pointer;
    background-color: #555;
    border-bottom: var(--smallerBorder) solid white;
}

.sideBar .icon {
    width: 25px;
    height: auto;
}

.logo>img {
    height: clamp(25px, 50px, 70px);
    width: auto;
}







/* Right Side */
#mainContent {
    background-color: purple;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 75px;
}



#topRow {
    color: white;
    background-color: var(--topRowMainColor);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border-bottom: var(--smallBorder) solid var(--sideBarAccentColor);
}

#topRow>* {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#topRow div:nth-child(2) {
    grid-column: 3/6;
    --searchBoxHeight: 30px;
    
}

#topRow div:nth-child(2) input {
    width: 100%;
    height: var(--searchBoxHeight);
    background-color: var(--mainContentMainColor);
}


#topRow div:nth-child(2) img {
    background-color: grey;
    height: calc(var(--searchBoxHeight) + 4px);
    border: 1.5px solid black;
    border-radius: 0px var(--slightCurve) 0px 0px;
}

#topRow div:nth-child(2),
#topRow div:nth-child(3) {
    align-items: start;
    margin-top: 10px;
}

#topRow div:nth-child(3) {
    grid-column: 8/9;
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    justify-content: center;
}

#topRow div:nth-child(3) img {
    height: 50px;
    width: auto;
}

#welcomeContainer {
    display: flex;
    gap: var(--gap);
    grid-area: 1/1/1/3;
}

#welcomeContainer>img {
    max-width: 75px;
    height: auto;
}



#mainContent {
    background-color: var(--mainContentMainColor);
}


#mainContent>* {
    padding-left: var(--innerPadding);
}

#bottomRow {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: var(--gap);
}

#projects {
    padding-top: var(--innerPadding);
    display: grid;
    resize: both;
    overflow: auto;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: repeat(auto-fit, 450px);
    gap: var(--gap);
    padding-right: 1px;
}

#projects> .project{
    display: grid;
    grid-template-columns: repeat(auto-fit, (1fr, 2fr));
    background-color: white;
    border-radius: var(--slightCurve);
    padding: var(--innerPadding);
    justify-content: center;
    box-shadow: var(--shadow);
}

#projects>.project>.preview {
    width: clamp(350px, 500px, 700px);
    height: auto;
}

#projects>.project>div {
    display: inline-flex;
    gap: var(--gap);
}

.githubLogo {
    content:url("../data/Images/icons/githubLogo.svg");
    height: 50px;
    width: auto;
}

#farRightRow {
    height: 100%;
    background-color: #EFEFEF;
    padding-left: var(--innerPadding);
}

#announcements,
#trends {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.announcement{
    padding: 0px var(--innerPadding);
    flex-direction: column;
}

.announcement > * {
    margin: 0px;
    padding: 0px;
}


.announcement,
.trend {
    margin: var(--innerPadding);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--slightCurve);
    box-shadow: var(--shadow);
    background-color: white;
    flex-wrap: wrap;
    gap: var(--gap);
}

.announcement > h5 {padding-bottom: var(--innerPadding)}
.announcement > h4 {
    padding-top: var(--innerPadding);
    font-weight: bold;
}

.trend {
    flex-direction: row;
    align-self: center;
    padding: var(--innerPadding) var(--extremePadding);
    width: 200px;

}

.trend > div {
    display: grid;
    grid-template-rows: 1fr;
}

.trend > div > h4 {
    margin: 0px;
    padding: 0px;
}

.topIcon:hover {
    cursor: pointer;
    border: 2px solid black;
    background-color: #222;

}

.announcement:hover,
.trend:hover,
.project:hover{
    background-color: #EFEFEF;
    border-left: 10px solid lightblue;
    cursor: pointer;
}

::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-track {background: #f1f1f1; }
::-webkit-scrollbar-thumb {background: black; }
::-webkit-scrollbar-thumb:hover {background: #555; }

ul li {list-style: none;}
input::placeholder {color: black;}

.avatar {
    box-shadow: var(--shadow);
    border-radius: var(--circleCurve);
    object-fit: cover;
    width: 50px;
    height: 50px;
}