:root{
    --slightCurve: 10px;
    --extremeCurve: 20px;
    --circleCurve: 50%;

    --sideBarMainColor: #363740;
    --sideBarAccentColor: #BCFD4C;

    --topRowMainColor: #bfc1bc;

    --mainContentMainColor: #7F8487;
    --validColor: blue;
    --invalidColor: red;
}

html,
body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    max-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.layer {
    height: 100vh;
    background-color: aquamarine;
}

.layer>div {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: black;
}


.sideBar {
    /*border-right: 2px solid #ea6;*/

    /*background-color: #C5979D;*/
    color: #AAA;
    background-color: var(--sideBarMainColor);
    border-right: .15em solid var(--sideBarAccentColor);
    font-size: 1.8rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 4fr;
    padding: 10px;
    
}

.sideBar > div >.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
    gap: 0.5rem;
}
.sideBar > div {
    position: fixed;
}
.sideBar > div > div:nth-child(2) {
    display: grid;
    align-items: end;

}

.sideBar > div ul {
    align-items: center;
}

.sideBar>div ul li {   
    display: flex;
    align-items: center;
    gap: 10px;

}

.sideBar >div ul li:hover{
    padding: 2px;
    cursor: pointer;
    background-color: #555;
    border-bottom: 1px solid white;
}

.sideBar .icon {
    width: 25px;
    height: auto;
}

.logo>img {
    height: clamp(25px, 50px, 70px);
    width: auto;
}







/* Right Side */
#mainContent {
    background-color: purple;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 120px 1fr;
}



#topRow{
    background-color: var(--topRowMainColor);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(8, 1fr);
}

#topRow div:nth-child(2) {
    grid-column: 3/6;
    display: flex;
    align-items: center;
    --searchBoxHeight: 30px;
}

#topRow div:nth-child(2) input {
    width: 100%;
    height: var(--searchBoxHeight);
    background-color: var(--mainContentMainColor);
}

#topRow div:nth-child(2) input::placeholder{
    color: black;
}

#topRow div:nth-child(2) img {
    background-color: grey;
    height: calc(var(--searchBoxHeight) + 2px);
    border: 1.5px solid black;
    border-radius: 0px var(--slightCurve) 0px 0px;
}

#welcomeContainer {
    display: flex;
    align-items: end;
    gap: 20px;
    grid-area: 2/1/3/4;
}

#welcomeContainer>img {
    margin-bottom: 15px;
    max-width: 75px;
    height: auto;

}




#mainContent {
    background-color: var(--mainContentMainColor);
}


#mainContent > * {
    padding-left: 1.0em;
}


#trends {
    padding-top: 15px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    
}

#trendGraphContainer{
    grid-column: 1/2;
    width: auto;
    background-color: whitesmoke;
}

#trendGraphContainer h4 {
    margin-left: 10px;
}

#trendStatContainer{
    grid-column: 3/7;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    width: fit-content;
    text-align: center;
    gap: 3px;
}

#trendStatContainer > * {
    padding: 0px 20px;
    background-color: white;
    border-radius: var(--slightCurve);
}


#trendGraphContainer img{
    object-fit: cover;
}





.valid:hover {
    color: var(--validColor);
}

.invalid:hover {
    color: var(--invalidColor);
}


ul li {
    list-style: none;
}



.avatar {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: var(--circleCurve);
}
